<div class="container1">
  <div class="image-container">
    <img src="../../assets/images/image (2).png" alt="Astrology" class="image" />
  </div>

  <div class="overlay">
    <h1 class="heading">Welcome to Cosmic Insights</h1>
    <p class="paragraph">Your most accurate and personal horoscope, ever. Get your daily, weekly, monthly and yearly horoscopes for love, career, finance, family and more!</p>
    <div class="button-container">
      <button class="button bg-blue">Astro Mall</button>
      <button class="button bg-gray">Book a Pooja</button>
    </div>
  </div>
  
</div>
