<h2 class="faq_title">FAQ'S ABOUT ASTROLOGY</h2>
<div class="faq">
<div ngbAccordion class="container-fluid m-2 h-100 p-4" [closeOthers]="true">
    <div ngbAccordionItem>
      <h2 ngbAccordionHeader>
        <button ngbAccordionButton class="bg-dark text-white">Why Is Astrology So Accurate?</button>
      </h2>
      <div ngbAccordionCollapse>
        <div ngbAccordionBody>
          First of all, the credit for astrology and the predictions we make here being so accurate goes to the 100s of learned and astrologically-versed astrologers we have on board. Astrology is based on the knowledge of the planets, planetary configurations, and constellations. These factors influence human life and behavior as they move, shift, or even stay still. Astrology is not guesswork but a science developed by ancient Gurus thousands of years ago, which remains relevant today due to its accuracy.
        </div>
      </div>
    </div>
  
    <div ngbAccordionItem>
      <h2 ngbAccordionHeader>
        <button ngbAccordionButton class="bg-dark text-white">Why Should You Choose Astrotalk For An Astrology Horoscope?</button>
      </h2>
      <div ngbAccordionCollapse>
        <div ngbAccordionBody>
          With a 4.8/5 Google Rating and 5/5 Facebook Rating, Astrotalk has garnered a satisfied user base. We recruit only the best astrologers through a stringent process to ensure you get top-notch service. Services include online Kundli matching, horoscope predictions, tarot reading, and more.
        </div>
      </div>
    </div>
  
    <div ngbAccordionItem>
      <h2 ngbAccordionHeader>
        <button ngbAccordionButton class="bg-dark text-white">Is Astrology Prediction True?</button>
      </h2>
      <div ngbAccordionCollapse>
        <div ngbAccordionBody>
          Astrology predictions are based on planetary movements. The accuracy depends on the astrologer’s expertise in calculating these shifts and traits. Predictions about auspicious moments, whether one is Manglik, and more are based on these movements.
        </div>
      </div>
    </div>
  
    <div ngbAccordionItem>
      <h2 ngbAccordionHeader>
        <button ngbAccordionButton class="bg-dark text-white">How Can Online Astrology Help Me In Predicting The Future?</button>
      </h2>
      <div ngbAccordionCollapse>
        <div ngbAccordionBody>
          Online astrology allows you to enter details like your date of birth and place of birth to receive personalized reports. You can also directly chat or call astrologers for detailed readings. Despite the online medium, the calculation methods remain traditional and accurate.
        </div>
      </div>
    </div>
  
    <div ngbAccordionItem>
      <h2 ngbAccordionHeader>
        <button ngbAccordionButton class="bg-dark text-white">What Kind Of Questions Can I Ask To Online Astrologers?</button>
      </h2>
      <div ngbAccordionCollapse>
        <div ngbAccordionBody>
          Astrology can answer questions on a wide range of topics like career, love life, or health. Our astrologers can help you find out if you’re Manglik, identify auspicious times for marriage, and predict your financial future, all based on planetary positions.
        </div>
      </div>
    </div>
  
    <div ngbAccordionItem>
      <h2 ngbAccordionHeader>
        <button ngbAccordionButton class="bg-dark text-white">What Is The Duration For Online Astrology Consultation?</button>
      </h2>
      <div ngbAccordionCollapse>
        <div ngbAccordionBody>
          There is no fixed time limit for online consultations. Our astrologers are available to assist you with all your queries at any time.
        </div>
      </div>
    </div>
  
    <div ngbAccordionItem>
      <h2 ngbAccordionHeader>
        <button ngbAccordionButton class="bg-dark text-white">Can Astrology Predictions Be Changed?</button>
      </h2>
      <div ngbAccordionCollapse>
        <div ngbAccordionBody>
          Predictions may change due to incorrect planetary positioning, inaccurate birth details, or personal changes. Improving yourself can shift planetary influences and alter predictions.
        </div>
      </div>
    </div>
  
    <div ngbAccordionItem>
      <h2 ngbAccordionHeader>
        <button ngbAccordionButton class="bg-dark text-white">Can Astrology Predict About Lottery Winning?</button>
      </h2>
      <div ngbAccordionCollapse>
        <div ngbAccordionBody>
          Astrology can't predict a lottery win but can help identify favorable times and numbers. Numerology, combined with astrology, can help you enhance your luck.
        </div>
      </div>
    </div>
  
    <div ngbAccordionItem>
      <h2 ngbAccordionHeader>
        <button ngbAccordionButton class="bg-dark text-white">What Benefits Can I Expect If I Avail Astrology Services?</button>
      </h2>
      <div ngbAccordionCollapse>
        <div ngbAccordionBody>
          New users get a 50% discount on their first prediction. Using insights from astrologers can help you navigate major challenges in life, be it in finances, career, or relationships.
        </div>
      </div>
    </div>
  
    <div ngbAccordionItem>
      <h2 ngbAccordionHeader>
        <button ngbAccordionButton class="bg-dark text-white">Which App Is Best For Kundli?</button>
      </h2>
      <div ngbAccordionCollapse>
        <div ngbAccordionBody>
          Astrotalk offers one of the best platforms for online Kundli creation. Our free Kundli is prepared by experienced astrologers and available in multiple languages.
        </div>
      </div>
    </div>
  
    <div ngbAccordionItem>
      <h2 ngbAccordionHeader>
        <button ngbAccordionButton class="bg-dark text-white">How Reliable Is The Astrotalk App?</button>
      </h2>
      <div ngbAccordionCollapse>
        <div ngbAccordionBody>
          Astrotalk is a one-stop destination for all astrology needs. It offers free Kundli, matchmaking, and horoscope features, with a vast array of astrology products and services.
        </div>
      </div>
    </div>
  
    <div ngbAccordionItem>
      <h2 ngbAccordionHeader>
        <button ngbAccordionButton class="bg-dark text-white">How Much Does Astrotalk Cost?</button>
      </h2>
      <div ngbAccordionCollapse>
        <div ngbAccordionBody>
          Astrotalk offers consultations from Rs 10 to Rs 250 per minute. The cost varies based on the astrologer’s experience, but all astrologers are experts in their field.
        </div>
      </div>
    </div>
  
    <div ngbAccordionItem>
      <h2 ngbAccordionHeader>
        <button ngbAccordionButton class="bg-dark text-white">Can I Trust Astrology Apps?</button>
      </h2>
      <div ngbAccordionCollapse>
        <div ngbAccordionBody>
          Astrotalk is used by over 3 crore people worldwide, offering expert astrologers and free consultations. All predictions are genuine and prepared by professionals.
        </div>
      </div>
    </div>
  </div>
  
</div>
